<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/head.html :: head"></th:block> /*/-->
    <style>

    </style>
</head>
<body>
<!--/*/ <th:block th:include="fragments/navbar.html :: navbar"></th:block> /*/-->

<div class="container-fluid px-4 py-4" id="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-6 offset-3">
                    <div class="card">
                        <div class="container-fluid" style="padding-bottom:0; border-bottom:0;">
                            <div class="col">
                                <form action="#" th:action="@{/productList/update}" th:object="${product}" method="post">
                                    <div class="card-header container-fluid" style="padding-bottom:0; border-bottom:0;">
                                        <div class="row justify-content-between">
                                            <h4 class="col">Edytuj produkt</h4>
                                            <div class="justify-content-center mr-3">
                                                <button class="btn btn-danger" type="submit">Zapisz</button>
                                            </div>
                                        </div>
                                        <hr class="mt-1 mb-2"/>
                                    </div>

                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-2">
                                                <label class="col-form-label form-control-label">ID:</label>
                                                <div>
                                                    <input type="text" th:field="*{id}" class="form-control" placeholder="Typ" required/>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <label class="col-form-label form-control-label">Nazwa:</label>
                                                <div>
                                                    <input type="text" th:field="*{name}" class="form-control" placeholder="nazwa"/>
                                                </div>
                                            </div>

                                            <div class="col-3">
                                                <label class="col-form-label form-control-label">Data utworzenia:</label>
                                                <div>
                                                    <input type="text" th:field="*{creationDate}" class="form-control" placeholder="Opis" disabled/>
                                                </div>
                                            </div>

                                            <div class="col-3">
                                                <label class="col-form-label form-control-label">Data modyfikacji:</label>
                                                <div>
                                                    <input type="text" th:field="*{modificationDate}" class="form-control" placeholder="Opis" disabled/>
                                                </div>
                                            </div>

                                            <input type = checkbox th:field="*{hidden} " hidden/>

                                        </div>
                                        <div class="row">
                                            <div class="col-2">
                                                <label class="col-form-label form-control-label">Typ:</label>
                                                <div>
                                                    <input type="text" th:field="*{productType}" class="form-control" placeholder="Typ"/>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <label class="col-form-label form-control-label">Opis:</label>
                                                <div>
                                                    <input type="text" th:field="*{description}" class="form-control" placeholder="Opis"/>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <label class="col-form-label form-control-label">Ilość:</label>
                                                <div>
                                                    <input type="number" th:field="*{amount}" class="form-control" placeholder="Opis"/>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <label class="col-form-label form-control-label">Cena:</label>
                                                <div>
                                                    <input type="number" th:field="*{price}" class="form-control" placeholder="Opis"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--/*/ <th:block th:include="fragments/footer.html :: footer"></th:block> /*/-->
</body>
</html>