<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/head.html :: head"></th:block> /*/-->
    <style>

    </style>
</head>
<body>
<!--/*/ <th:block th:include="fragments/navbar.html :: navbar"></th:block> /*/-->
<div class="container-fluid px-4 mt-3 pb-4">
    <div class="row">
        <div class="col-10 offset-1">
            <div class="card card-outline-secondary mb-1">
                <form action="#" th:action="@{/productAdd}" th:object="${product}" method="post">
                    <div class="card-header container-fluid" style="padding-bottom:0; border-bottom:0;">
                        <div class="row justify-content-between">
                            <h4 class="col">Dodaj typ produktu</h4>
                            <div class="justify-content-center mr-3">
                                <button class="btn btn-secondary" type="reset"> Wyczyść</button>
                                <button class="btn btn-danger" type="submit">Zapisz</button>
                            </div>
                        </div>
                        <hr class="mt-1 mb-2"/>
                    </div>
                    <input type="number" th:field="*{id}" hidden>
                    <input type="text" th:field="*{creationDate}" hidden>
                    <input type="text" th:field="*{modificationDate}" hidden>
                    <input type="checkbox" th:field="*{hidden}" hidden>
                    <input type="number" th:field="*{amount}" hidden>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-12">
                                        <label class="col-form-label form-control-label">Nazwa produktu:</label>
                                        <div>
                                            <input type="text" th:field="*{name}" class="form-control" placeholder="Typ" required/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label class="col-form-label form-control-label">Typ produktu:</label>
                                        <div>
                                            <select class="col-form-label col-10 offset-1" th:field="*{productType}">
                                                <option th:each="i : ${type}" th:value="${i.id}" th:text="${i.name}">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label class="col-form-label form-control-label">Cena:</label>
                                        <div>
                                            <input type="number" th:field="*{price}" class="form-control" placeholder="Cena"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <label class="col-form-label form-control-label">Opis:</label>
                                <div>
<!--                                    <input type="text" th:field="*{description}" class="form-control" placeholder="Opis"/>-->
                                    <textarea class="form-control" th:field="*{description}" rows="3" placeholder="Opis"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--/*/ <th:block th:include="fragments/footer.html :: footer"></th:block> /*/-->
</body>
</html>