<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/head.html :: head"></th:block> /*/-->
    <style>

    </style>
</head>
<body>
<!--/*/ <th:block th:include="fragments/navbar.html :: navbar"></th:block> /*/-->

<div class="container-fluid px-4 mt-3 pb-4">
    <div class="row">
        <div class="col-10 offset-1">
            <div class="card card-outline-secondary mb-1">
                <div class="card-header container-fluid" style="padding-bottom:0; border-bottom:0;">
                    <div class="row justify-content-between">
                        <h4 class="col">Edycja produktu</h4>
                        <div class="justify-content-center mr-3">
                            <button class="btn btn-secondary" id="print-button">
                                <i class="fas fa-print"></i> Drukuj etykietę
                            </button>

                            <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#delete-product-modal">Usuń</button>
                        </div>
                    </div>


                    <hr class="mt-1 mb-2"/>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<!--/*/ <th:block th:include="fragments/footer.html :: footer"></th:block> /*/-->
</body>
</html>